@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-2xs {
  font-size: 0.625rem/* 12px */;
  line-height: 0.83rem/* 16px */;
}
